﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ECMAScript6RequireTypescript.Web.Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="row">
        <div id="container" class="jumbotron">
            
        </div>
    </div>
    <div class="row text-center">
        <input type="button" id="btnCanI" value="Can we see who is behind this demo?" />
    </div>
    <br/>
   <%-- <div class="row text-center">
        <iframe src="ForIframe.aspx" width="500" height="300"></iframe>
    </div>--%>
</asp:Content>
