﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ForIframe.aspx.cs" Inherits="ECMAScript6RequireTypescript.Web.ForIframe" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div id="container" class="jumbotron">
        
    </div>
</asp:Content>
